/*1. color background color solido*/
body{
    background-color:lightsalmon;
}
/*2. fuente distinta de la pagina web*/
body{
    font-family: Arial, Helvetica, sans-serif;
} /*5. Botones con medida predefinida, color solido background personalizado y
cuando el ratón pase por encima de hover, hara efecto*/
.boton{
    background-color: aqua;
    padding: 20px 20px;
    font-size: 20px;
}
/* Definimos el cambio de estilo del botón */
.boton:hover{
    color:white;
    padding-right: 20px;
    font-size: 20px;
    position: absolute;
    background-color: blue;
}